In [ ]:
print("iam namrata")

iam namrata

In [ ]:
a+b

variable declaration
rule 1 variable should always start with an alphabet or _
rule 2 variable should not start with some number or special charaters ex:1stnum=5
rule 3 variable declaration is case sensitive

In [ ]:
a=5
b=9
sum=a+b
print(sum)
print("sum")

14
sum

In [ ]:
a-b

variable declatration

In [ ]:
a=8
b=6
substract=a-b
print(substract)

2

In [ ]:
a*b

variable declaration

In [ ]:
a=2
b=3
multiply=a*b
print(multiply)

6

In [ ]:
a/b

variable declaration

In [ ]:
a=3
b=9
quotion=a/b
print(quotion)

0.3333333333333333

In [ ]:
a%b

variable declaration

In [ ]:
a=3
b=9
reminder=a%b
print(reminder)

3

In [ ]:
p=16
import math
sq=math.sqrt(p)
print(sq)

4.0

In [ ]:
p=2
q=3
sq1=p*p
sq2=q*q
print("squre of p is")
print(sq1)
print("squre of q is")
print(sq2)

squre of p is
4
squre of q is
9

In [ ]:
a=8
b=4
c=12
add=a+b+c
print(add)

24